{
  "parser": "babel-eslint",
  "extends": ["standard", "standard-react"],
  "env": {
    "browser": true
  },
  "rules": {
    "react/prop-types": "off",
    "semi": 0,
    "comma-dangle": 0,
    "space-before-function-paren": 0,
    "jsx-quotes": 0,
    "react/jsx-no-bind": 0
  }
}