.nameListContainer {
  padding: 20px;
  margin: 5px 0;
  height: 100vh;
  width: 105vw;
}

.nameContainer {
  margin: 1.5em 0;
  -webkit-overflow-scrolling: touch;

  & &__name {
    font-size: 1.1em;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
}

.letterContainer {
  display: flex;
}
