@import '../../styles/constants';

.menu {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 150px;
  width: 80px;
  background-color: $yellow;
  border-top-left-radius: 99%;

  &.menu--open {
    position: static;
    height: 0px;
    width: 0px;
  }

  .menu-bars {
    position: absolute;
    bottom: 35px;
    right: 15px;
  }

  .menu-bar {
    width: 35px;
    height: 5px;
    background-color: $ghost-white;
    margin-top: 7px;
    transition: 250ms;
  }
}

.bar1 {
  &.bar--close {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);
    width: 30px;
  }
}

.bar2 {
  &.bar--close {
    opacity: 0;
  }
}

.bar3 {
  &.bar--close {
    -webkit-transform: rotate(45deg) translate(-11px, -9px);
    transform: rotate(45deg) translate(-11px, -9px);
    width: 30px;
  }
}
