@import '../../styles/constants';

.menu {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 200px;
  width: 120px;
  background-color: $yellow;
  border-top-left-radius: 99%;

  &.menu--open {
    position: static;
    height: 0px;
    width: 0px;
  }

  .menu-bars {
    position: absolute;
    bottom: 55px;
    right: 25px;
  }

  .menu-bar {
    width: 45px;
    height: 5px;
    background-color: $ghost-white;
    margin-top: 7px;
    transition: 200ms ease-in-out;
  }
}

.bar1 {
  &.bar--close {
    -webkit-transform: rotate(-45deg) translate(-7px, 5px);
    transform: rotate(-45deg) translate(-7px, 5px);
    width: 40px;
  }
}

.bar2 {
  &.bar--close {
    opacity: 0;
  }
}

.bar3 {
  &.bar--close {
    -webkit-transform: rotate(45deg) translate(-11px, -10px);
    transform: rotate(45deg) translate(-11px, -10px);
    width: 40px;
  }
}
