@import '../styles/reset';
@import '../styles/constants';

body {
  font-family: $main-fonts;
  color: $font-color;
}

/*remove default styling for a tags*/
a {
  color: $font-color;
}
a:visited {
  color: $font-color;
}
a:active {
  color: $font-color;
}

.app {
  padding: 20px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  &:empty {
    display: none;
  }
}
