$main-fonts: Helvetica, Arial, Verdana, sans-serif;

/*Colors*/
$font-color: #46494c;
$yellow: #fcd581;
$ghost-white: #f9f8f8;

/*Breakpoints*/
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;
$breakpoint-laptop: 1224px;
$brakpoint-screen: 1824px;
