$main-fonts: Helvetica, Arial, Verdana, sans-serif;

/*Colors*/
$primary-color: #333;
$yellow: #fcd581;

/*Breakpoints*/
$breakpoint-tablet: 768px;
$breakpoint-mobile: 375px;
$breakpoint-laptop: 1224px;
$brakpoint-screen: 1824px;
